* {
    font-family: "SpaceMono Nerd Font", "Iosevka", monospace;
    font-size: 13px;
    font-weight: 700;
    min-height: 0;
    border: none;
}

window#waybar {
    background: rgba(20, 18, 33, 0.34);
    color: #e0def4;

    border: 1px solid rgba(196, 167, 231, 0.14);
    border-radius: 12px;
}

/* ───────── WORKSPACES ───────── */

#workspaces {
    margin-left: 7px;
}

#workspaces button {
    min-width: 25px;

    padding: 0 6px;
    margin: 5px 2px;

    border-radius: 7px;

    background: transparent;
    color: #6e6a86;

    transition: all 0.2s ease;
}

#workspaces button.active {
    background: rgba(196, 167, 231, 0.17);
    color: #c4a7e7;
}

#workspaces button:hover {
    background: rgba(156, 207, 216, 0.13);
    color: #9ccfd8;
}

#workspaces button.urgent {
    background: rgba(235, 111, 146, 0.17);
    color: #eb6f92;
}

/* ───────── MODULES ───────── */

#custom-layout,
#mpris,
#custom-network,
#custom-bluetooth,
#wireplumber,
#backlight,
#battery,
#clock,
#custom-power {
    padding: 0 9px;
    margin: 5px 1px;

    border-radius: 7px;

    background: rgba(25, 23, 36, 0.25);
    color: #e0def4;

    transition: all 0.2s ease;
}

#custom-layout:hover,
#mpris:hover,
#custom-network:hover,
#custom-bluetooth:hover,
#wireplumber:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#custom-power:hover {
    background: rgba(196, 167, 231, 0.15);
}

/* ───────── COLORS ───────── */

#custom-layout {
    color: #c4a7e7;
}

#mpris {
    color: #9ccfd8;
}

#custom-network {
    color: #9ccfd8;
    font-size: 15px;
}

#custom-bluetooth {
    color: #31748f;
    font-size: 15px;
}

#wireplumber {
    color: #c4a7e7;
}

#backlight {
    color: #f6c177;
}

#battery {
    color: #9ccfd8;
}

#battery.warning {
    color: #f6c177;
}

#battery.critical {
    color: #eb6f92;
    background: rgba(235, 111, 146, 0.15);
}

#wireplumber.muted {
    color: #6e6a86;
}

#clock {
    color: #c4a7e7;
}

#custom-power {
    color: #eb6f92;
    font-size: 15px;
    margin-right: 7px;
}

/* ───────── CUSTOM ART ───────── */

#custom-cpucat {
    font-family: "Waycat", monospace;
    font-size: 20px;
    font-weight: bold;

    color: #e0def4;

    padding: 0 7px;
}

#custom-skull {
    font-family: "Skulltype", monospace;
    font-size: 21px;
    font-weight: bold;

    color: #c4a7e7;

    padding: 0 8px;
}

/* ───────── TOOLTIPS ───────── */

tooltip {
    background: rgba(25, 23, 36, 0.94);
    border: 1px solid rgba(196, 167, 231, 0.25);
    border-radius: 8px;
}

tooltip label {
    color: #e0def4;
    padding: 5px;
    font-size: 11px;
}

/* ───────── NOTIFICATIONS ───────── */

#custom-notifications {
    padding: 0 9px;
    margin: 5px 1px;

    border-radius: 7px;

    background: rgba(25, 23, 36, 0.25);
    color: #c4a7e7;

    font-size: 15px;
    transition: all 0.2s ease;
}

#custom-notifications:hover {
    background: rgba(196, 167, 231, 0.15);
    color: #e0def4;
}
